@import "desktop.css";


/* Reseteo global */
*{
    box-sizing: border-box;
  }
  
  html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ; 
      background-color: #fff; 
      background: var(--color-1);  
  }

  
  
  h1{
    font-size:16px;
    margin:0 0 1rem 0;
    display: flex;
    align-items:center;
    
  }
  ul { 
    display: flex;
      margin:0;
      padding:0;   
  }
  li{
    list-style: none;
  }
  svg{
    margin-right: 0.5rem;
  }
  
  header svg {
    filter: invert(1);
  }
  
  main{
    background-color: #fafbfc;
    width: 100%;
    height: 205px;
    margin-bottom: 20px;
    margin-left: 1px;
  }
  
  
  ul span{
    color: #24292e;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
  }

     /* header */
  .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px  5px 5px 5px;
    width: 100%;
    height: 64px;
    background-color: var(--header-oscuro);
    
  }

  .search{
    position:relative;
    width: 40%;
padding-top: 0;
padding-bottom: 0;

color: inherit;
background: none;
border: 0;
box-shadow: none;
  }

  .search img{
    position: absolute;
    right: 2px;
    top: 1px;
    
  }

  .boton{
    border:1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    background: #FAFBFC;
    padding: 3px 12px;
    display: flex;
    justify-content:center;
    align-items: center;  
    cursor: pointer;
}

  
  .boton-herramientas{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 300px;
    padding: 16px;
    font-size: 14px;
    line-height: 30px;
  }

  

.more-options{
  position: relative;
  cursor: pointer;
  margin-left: 100px;
  border-style: none;
 }

 
  .boton-herramientas li{
    margin-left: 5px;
    padding: 5px;  
  }
  button .boton p{
    position: absolute;
    right: 10px;
    background-color: blueviolet;
    
  }
  

  .boton-herramientas .code-style {
    
    border-bottom: 2px solid #fb8532;

  }
  .boton-herramientas li:hover{
    border-bottom: 1px solid #d1d5da;

  }
  .SelectMenu-icon{
    display: flex;
    flex-direction: column;
  padding: 16px;
  flex: none;
  align-items: center;
  border-bottom: 1px solid
  }
  
   
    /* hovers main primera  seccion */

.boton-repositorio p:hover {
    text-decoration: underline;
    color: var(--hover-celeste) ;   
  }

  .estadisticas span:hover  {
    color: var(--hover-celeste) ;
 }

 .boton-repositorio {
  display: flex;
  flex-direction: row;
  padding-right: 25px;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 18px;
  line-height: 10px;
  color:var(--hover-celeste);
  
}

.boton-main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 18px;
  line-height: 10px;
}

/* primera  seccion link de repositorio */
.boton-repositorio svg{
   filter: none;
}
.boton-estadisticas{
  display: inline;
  margin: 1rem; 
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.boton-estadisticas span{
  font-size: 14px;
  font-weight: 400;
}

/* tercera seccion botones estadisticas y watch */

.boton-comun{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 1rem;
  padding: 1rem;
  
}


.botones-accion{
  position: relative;
  border-radius: 6px ;
  border-width:  1px ;
  border-style: solid;
  transition-duration: .1s;
  padding: 3px 12px;
  font-size: 12px;
line-height: 20px;
cursor: pointer;
font-weight: 500;
text-align: center;
width: 145px;
height: 28px;
background-color: #fafbfc;

}

/* botones header y herramientas */

.dropdown .dropdown-head{
  display: inline-block ;
  position: relative;
}

.dropdown svg{
  border:1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  background-color: #FAFBFC;
  padding: 7px;
  cursor: pointer;
}



.dropdown div{
  background-color: #fff;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2) ;
  z-index: 1;
  visibility: visible;
  position: absolute;
  min-width: 100%;
  opacity: 0;
  
}


.dropdown:hover svg{
  visibility: hidden;
  opacity: 1;
}

.dropdown div a{
   display: block;
   text-decoration: none;
   padding: 8px;   
   transition: 1s ;
   white-space: nowrap;    
}

.dropdown div a:hover{
   background-color: var(--hover-celeste);
   
}

.boton-dropdown{
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.boton-dropdown:focus{
  border-radius: 6px;
  background-color: #f3f4f6;
}

.boton-dropdown:hover{
  border-color: rgba(27, 31, 35, 0.15) ;
}


/* boton contenido desplegable */
.watch-content{
  display: none;
  position: absolute;
  border: 1px solid #000; 
  font-size: 14px;
border-color: rgba(62, 68, 74, 0.15);

}

.boton-dropdown:focus + .watch-content{
   display: block;
}

.watch-content ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
padding: 0;

}

.watch-content ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  
  border-bottom: solid 1px salmon;
} 

.watch-content li{
  background-color: #5a32a3;

}


  .usuario-container{
    display: flex;
    flex-direction: row;
    max-width: 360px;
    margin: -1px -1px 0 5px;
    padding: 16px;
    justify-content: space-between;
    background-color: #f1f8f1ff ;
    border-radius:6px;
    border: solid 1px #e1e4e8 ;
  }

.view-code{
  display: flex;
    flex-direction: row;
    width: 100%;
    margin: -1px -1px 0;
    padding: 16px;
    justify-content: center;
    border-radius:6px;
    border: solid 1px #e1e4e8 ;
    color: #0366d6;

}

.readme-section{ 
  padding: 1rem;
 border-top: 1px solid #e1e4e8;
    border-bottom: 1px solid #e1e4e8;
}
  
.readme-tittle{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  font-size: 14px;
  font-weight: 100;
}
.readme-description{
  padding: 1rem 2rem;
}

.readme-content{
  border-bottom: 1px solid #e1e4e8;
    padding-bottom:1rem;
    font-size:32px;
    margin:0;
}
.readme-description:hover svg{
  cursor: pointer;
  display: none;
}


.about{
  padding:1rem;
}
.about-sections{
  border-bottom: 1px solid #e1e4e8;
  padding:1.5rem 0;
}
.about-sections h2, h2>a{
  font-size:16px;
  color: var(--black);
}
.about-sections p{
  margin:0;
}
.about-sections h2{
  margin-bottom: 1rem;
  margin: 0;
}
.progress-bar{
  display: flex;
  justify-content:space-between;
  border-radius: 10px;
  margin: 1rem;
  
}
.progress-bar-1{ 
  background:#e36209;
  border-radius: 10px 0px 0px 10px;
  padding: .2rem;
  width:78%;
}
.progress-bar-2{ 
  background: #5a32a3;
  border-radius: 0px 10px 10px 0px;
  padding: .2rem;
  width:22%;
  margin-right: 3rem;
}
footer{
  
}

footer ul li{
  display: flex;
  margin-top: 1rem;
  padding: 20px;
  border-top: 1px solid #dadce0;
  line-height: 21px;
}