@import "desktop.css";


/* Reseteo global */
*{
    box-sizing: border-box;
  }
  
  html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
      font-size: var(--font-size);
      line-height: 1.5;
      background-color: white;
      
  }
  
  h1{
    font-size:16px;
    margin:0 0 1rem 0;
    display: flex;
    align-items:center;
    
  }
  ul { 
    display: flex;
      margin:0;
      padding:0;   
  }
  li{
    list-style: none;
  }
  svg{
    margin-right: 0.5rem;
  }
  
  header svg {
    filter: invert(1);
  }
  
  main{
    background-color: #fafbfc;
    width: 100%;
    height: 205px;
    margin-bottom: 20px;
    margin-left: 1px;
  }
  
  article{
    filter: invert();
  }
  ul span{
    color: #24292e;
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
  }

     /* header */
  .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5px;
    width: 100%;
    height: 64px;
    background-color: var(--header-oscuro);
    
  }

  .search{
    position:relative;
    width: 40%;
padding-top: 0;
padding-bottom: 0;
font-size: inherit;
color: inherit;
background: none;
border: 0;
box-shadow: none;
  }

  .search img{
    position: absolute;
    right: 2px;
    top: 1px;
  }

  .boton{
    border:1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    background: #FAFBFC;
    padding: 7px 12px;
    display: flex;
    justify-content:center;
    align-items: center;  
    cursor: pointer;
}
  
  
  .boton-herramientas{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 300px;
    padding: 16px;
    font-size: 14px;
    line-height: 30px;
    list-style: none;
  }
  

.more-options{
  position: relative;
  cursor: pointer;
  margin-left: 100px;
  border-style: none;
 }

 
  .boton-herramientas li{
    margin-left: 5px;
    padding: 5px;  
  }

  

  .boton-herramientas .code-style {
    
    border-bottom: 2px solid #fb8532;

  }
  .boton-herramientas li:hover{
    border-bottom: 1px solid #d1d5da;

  }

  
  

  .SelectMenu-icon{
    display: flex;
    flex-direction: column;
  padding: 16px;
  flex: none;
  align-items: center;
  border-bottom: 1px solid
  }
  
   
    /* hovers main primera  seccion */

.boton-repositorio a:hover {
    text-decoration: underline;
    color: var(--hover-celeste) ;
    
  }

  .estadisticas span:hover  {
    color: var(--hover-celeste) ;
 }

 

 .boton-repositorio {
  display: flex;
  flex-direction: row;
  margin-left: 1.2rem;
  margin-bottom: 0.5rem;
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.5;
}
/* primera  seccion link de repositorio */
.boton-repositorio svg{
   filter: none;
}
.boton-estadisticas{
  display: inline;
  margin: 1rem; 
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.boton-estadisticas span{
  font-size: 14px;
  font-weight: 600;
}
/* segunda seccion  estadisticas */
.estadisticas{
   display: block;
   padding-left: 1.5px;
   
   
}


/* tercera seccion botones estadisticas y watch */

.boton-comun{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 1rem;
  padding: 1rem;
}


.botones-accion{
  position: relative;
  border-radius: 6px ;
  border-width:  1px ;
  border-style: solid;
  transition-duration: .1s;
  padding: 3px 12px;
  font-size: 12px;
line-height: 20px;
cursor: pointer;
font-weight: 500;
text-align: center;
width: 145px;
height: 28px;
background-color: #fafbfc;

}


.apps-herramientas{
  display: none;
  position: absolute;
  background-color: white;
  height: 328px;
  width: 348px;
  border: 1px solid black;
  left: 0;
  overflow: auto;
  
}

.boton-dropdown{
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.boton-dropdown:focus{
  border-radius: 6px;
  background-color: white;
}

.boton-dropdown:focus + .apps-herramientas{
   display: block;
}

.apps-herramientas ul{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
row-gap: 20px;   
column-gap: 10px;
list-style: none;
  
  
}

.apps-herramientas ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 30px;
  margin-right: 30px;
}
.apps-herramientas ul li img{
  width: 48px;
  height: 48px;
  display: block;

}

.container-branch{
  display: flex;
  flex-direction: column;
  background-color: #fafbfc;
  border-radius: 6px;
}

footer{
    display: flex;
  align-self: auto;  justify-content: center;
    margin-top: 0.5rem;
    padding: 1rem;
    border-top: 1px solid #dadce0;
    width: 375px;
    height: 159px;
    line-height: 21px;
  }

