


  @media  (min-width: 770px) {

  .hide-desktop{
      display: none;
  }
 
  .show-only-desktop{
      display: block;
      width: 100%;
  }

a{
    text-decoration: none;
}

  img{
      border-radius: 50%;
  }

 li{ padding: 5px;
    margin-right: 5px;
}

.boton-repositorio{
    display: flex;
    flex-direction: row;   
    align-self: auto;    
}
 

.boton-repositorio p{
    font-size: 20px;

}
 

 .boton-herramientas-desktop{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     padding: 12px 24px 0 24px;
     background-color: #fafbfc;
     position: absolute;
     top: -40px;
 }

 .boton-herramientas-desktop span{
    display: flex;
     flex-direction: row;
     justify-content: space-around;
     padding: 2px 20px 2px 20px;
     margin-top: -35px;
 }


 .boton-desplegable{
     display: flex;
     justify-content: center;
     padding-right: 230px;
     width: 100%;
 }



.desktop-tools{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
}

 .code{
     background-color: #2EA44F;
     color: #ffff;
 }

 

 .boton-main-desktop{
    position: absolute;
    left: 160px;
    top: 200px;
 }

 .boton-main{
    padding-right: 5px;
  padding-bottom: 5px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 5px; 

 }

  .counter{
      position: absolute;
    
    width: 24px;
    height: 28px;
    border:  solid 1px #babdc0 ;
    border-radius: 4px;
    border-left: none;
    right: 35px;
    top: 89px;
    border-radius: 8px;
    padding: 4px 16px 0 2px;
    text-align: center;  
  }
  
  .counter:hover a{
    color: var(--hover-celeste) ;  
  }
/* star */
.boton-comun-desktop-1 {
    position: absolute;
    right: 200px;
    top: 90px;
    border-radius: 8px;
    padding: 7px 12px;
    display: flex;
    justify-content:center;
    align-items: center;
    
}
/* watch */
.boton-comun-desktop-2 {
    position: absolute;
    top: 90px;
    right: 360px;
    border-radius: 8px;
}

/* fork */

.boton-comun-desktop-3  {
    position: absolute;
    right: 35px;
    top: 90px;
    border-radius: 8px;
    padding: 7px 12px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.usuario-container{
    display: flex;
    flex-direction: row;
    min-width: 920px;
    margin: -10px 20px 0 20px;
    padding: 16px;
    flex-wrap: wrap;
    background-color: #f1f8f1ff ;
    border-radius:6px;
    border: solid 1px #e1e4e8 ;
  }

.container-branch{
    display: flex;
    flex-direction: column;
    background-color: #fafbfc;
    border-radius: 6px;
  }
 .main-options-buttons{
    position: absolute;
    display: flex;
    justify-content: space-between;   
  }

  .readme-section{
    border-radius:10px;
    border: 1px solid #e1e4e8;
    max-width: 917px;
    margin: 20px;
    padding:1rem;
   
}

.about-section-desktop{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;  
    padding-bottom: 2rem;   
}
.about-section-desktop {
    position: absolute;
    right: 50px;
    top: 248px;
    
}


}

@media (max-width: 770px){

    .show-only-mobile{
        display: block;
    }
    .hide-mobile{
        display: none;
    }
    
    
}