

  @media  (min-width: 770px) {

  .hide-desktop{
      display: none;
  }
 
  .show-only-desktop{
      display: block;
      width: 100%;
  }

  header svg{
      margin-left: 10px;
      
  }
  header{
      display: flex; 
      width: 100%;      
  }

  img{
      border-radius: 50%;
  }
 /* search and form */
.search{
    display: flex;
    margin-right: 40px;
}

 input{
     min-height: 28px;
     background-color: var(--header-oscuro);
     color: #ffff;
     border-radius: 6px;
     font-size: 16px;
     padding: 5px 20px;
     padding-right: 10px;
     border-width: 1px;
     line-height: 20px;

 }

 li{ padding: 5px;
    margin-right: 5px;
}

.boton-repositorio{
    font-size: 20px;
}
 
 /* herramientas header desktop */

 .herramientas{
     display: flex;
     justify-content: space-around;  
     font-weight: 400;
     font-size: 18px;
     filter: invert(1);
 }

 .herramientas .hide-mobile{
     margin-left: 10px;
 }
 .boton-desplegable{
     display: flex;
     justify-content: flex-end;
     width: 100%;
 }

 .code{
     background-color: #2EA44F;
     color: #ffff;
 }


/* star */
.boton-comun-desktop-1 {
    position: absolute;
    right: 200px;
    top: 90px;
    border-radius: 8px;
    padding: 7px 12px;
    display: flex;
    justify-content:center;
    align-items: center;
    
}
/* watch */
.boton-comun-desktop-2 {
    position: absolute;
    top: 90px;
    right: 360px;
    border-radius: 8px;
}

/* fork */

.boton-comun-desktop-3 {
    position: absolute;
    right: 35px;
    top: 90px;
    border-radius: 8px;
    padding: 7px 12px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.container-branch{
    display: flex;
    flex-direction: column;
    background-color: #fafbfc;
    border-radius: 6px;
  }
 .main-options-buttons{
    position: absolute;
    display: flex;
    justify-content: space-between;
    
    
    
    
  }

  }

@media (max-width: 770px){

    .show-only-mobile{
        display: block;
    }
    .hide-mobile{
        display: none;
    }
    
}