
@import "botones.css";
@import "desktop.css";




:root {
    --hover-celeste: #0366d6;
    --header-oscuro: #24292e;
    --fuente-gral: "Segoe UI" , sans-serif ;
    --font-size: 14px;
    --border-color: rgba(62, 68, 74, 0.15);
    --breakpoint-desktop: 768px;
}   

